<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="educing.tech.store" >


    <!-- Accessing camera hardware -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="educing.tech.store.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="educing.tech.store.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- For Device Unique Number -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >

        <activity
            android:name=".activities.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activities.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.AdvertisementActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".activities.InboxActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />

        <activity
            android:name=".activities.CameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".activities.StoreOnMapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".activities.ProductSpecificationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />


        <activity
            android:name=".activities.ChatWindowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />

        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".activities.StoreConfigurationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".activities.FAQActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".activities.AboutUsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.PromoteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.TermsAndConditionsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".activities.DashboardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />

        <activity
            android:name=".activities.ImagePreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".activities.GCMActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />

        <activity
            android:name=".activities.PasswordChangeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.UploadProductImageActivity"
            android:theme="@style/CustomTheme"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />

        <activity
            android:name=".activities.PinchZoomActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <!-- Declare SMS Broadcast Receiver -->
        <receiver
            android:name=".services.SmsBroadcastReceiver"
            android:exported="true" >

            <intent-filter android:priority="999" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>

        </receiver>


        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >

            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="educing.tech.store" />

            </intent-filter>

        </receiver>

        <service android:name=".GCMIntentService" />

        <!-- Declare Boot Completed Receiver -->
        <receiver
            android:name=".services.BootCompletedReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- Declare Alarm Service -->
        <service
            android:name=".services.AlarmService"
            android:enabled="true" />

        <!-- Declare Alarm Receiver -->
        <receiver
            android:name=".services.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <!-- Google Play Service Version -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAgzhTANtK6rHWQUxs1Lzubi32a5lF87B4" />

    </application>

</manifest>